/debian/udoo-web-conf/
/debian/files
/debian/udoo-web-conf.debhelper.log
/debian/udoo-web-conf.postinst.debhelper
/debian/udoo-web-conf.preinst.debhelper
/debian/udoo-web-conf.prerm.debhelper
/debian/udoo-web-conf.substvars
/vendor
.idea

