.boardinfo, .boardinfo table {
    margin-bottom: 0 !important;
}

.boardimg {
    margin-bottom: 0 !important;
}

.boardimg img {
    margin: 0 auto;
}


/* 9 Axis Sensors */

.sensors-padding {
    padding-bottom: 0 !important;
}

.sensors-bars {
    margin-top: 4px;
}

.sensors-bars .row {
    height: 55px;
}

#motionsensors .col-xs-10 {
    margin-bottom: 23px !important;
}

#motionsensorsmod .col-xs-10 {
    margin-bottom: 10px !important;
}

#motionsensorsmod.sensors-bars .progress {
    height: 27px;
    margin-top: 6px;
}

#motionsensors.sensors-bars .progress {
    height: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#motionsensors.sensors-bars .progress:first-child {
    margin-top: 4px;
}





.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
    top: -1px;
}
