[Unit]
Description=UDOO Web Configuration Tool

[Service]
WorkingDirectory=/opt/udoo-web-conf
ExecStart=/usr/bin/nodejs -- ./bin/www
Restart=always
RestartSec=10
SyslogIdentifier=udoo-web-conf
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
